<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


	<!-- action层 -->
	<bean id="userInfoAction" class="njci.action.UserInfoAction">
		<property name="userInfoService" ref="userInfoService"></property>
		<property name="roleInfoService" ref="roleInfoService"></property>
	</bean>

	<bean id="newsTypeAction" class="njci.action.NewsTypeAction">
		<property name="newsTypeService" ref="newsTypeService"></property>
	</bean>
	<bean id="newsAction" class="njci.action.NewsAction">
		<property name="newsService" ref="newsService"></property>
		<property name="newsTypeService" ref="newsTypeService"></property>

	</bean>
</beans>