<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


	<!-- dao层 -->
	<bean id="userInfoDao" class="njci.dao.impl.UserInfoDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>

	</bean>

	<bean id="roleInfoDao" class="njci.dao.impl.RoleInfoDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>

	</bean>

	<bean id="newsTypeDao" class="njci.dao.impl.NewsTypeDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="newsDao" class="njci.dao.impl.NewsDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="typeInfoDao" class="njci.dao.impl.TypeInfoDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="brandInfo" class="njci.dao.impl.BrandInfoDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="productInfoDao" class="njci.dao.impl.ProductInfoDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>



</beans>